$color-primary: #0d6efd;
$color-background: #ffffff;
$color-2: #ced4da;
$color-3: #cfe2ff;
$color-4: #6c757d;
$color-font: #212529;
$color-font-primary: #084298;
$color-font-secondary: #ffffff;
$color-success: #198754;
$color-info: #0dcaf0;
$color-warning: #ffc107;
$color-danger: #dc3545;

// bootstrap color mapping
$primary:       $color-primary;
$secondary:     $color-4;
$success:       $color-success;
$info:          $color-info;
$warning:       $color-warning;
$danger:        $color-danger;
$light:         #f8f9fa;
$dark:          #212529;
