.loading-overlay {
    position: absolute;
    background: $color-background;

    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
    inset: -1px;
    padding: 1rem;
    z-index: 10;
}

.loading-overlay-fullscreen {
    position: fixed;
    background: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 1rem;
    z-index: 10000;
}

.spinner-lg {
    width: 3rem; height: 3rem;
}

/* loading indicator */
.loading-indicator-wrapper {
    position:relative;
    width:234px;
    height:28px;
    margin:auto;
}

.loading-indicator {
    position:absolute;
    top:0;
    background-color: $color-background;
    width:28px;
    height:28px;
    animation-name:bounce-loading-indicator;
    -o-animation-name:bounce-loading-indicator;
    -ms-animation-name:bounce-loading-indicator;
    -webkit-animation-name:bounce-loading-indicator;
    -moz-animation-name:bounce-loading-indicator;
    animation-duration:0.715s;
    -o-animation-duration:0.715s;
    -ms-animation-duration:0.715s;
    -webkit-animation-duration:0.715s;
    -moz-animation-duration:0.715s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#loading-indicator-part-1{
    left:0;
    animation-delay:0.286s;
    -o-animation-delay:0.286s;
    -ms-animation-delay:0.286s;
    -webkit-animation-delay:0.286s;
    -moz-animation-delay:0.286s;
}

#loading-indicator-part-2{
    left:29px;
    animation-delay:0.3525s;
    -o-animation-delay:0.3525s;
    -ms-animation-delay:0.3525s;
    -webkit-animation-delay:0.3525s;
    -moz-animation-delay:0.3525s;
}

#loading-indicator-part-3{
    left:58px;
    animation-delay:0.429s;
    -o-animation-delay:0.429s;
    -ms-animation-delay:0.429s;
    -webkit-animation-delay:0.429s;
    -moz-animation-delay:0.429s;
}

#loading-indicator-part-4{
    left:88px;
    animation-delay:0.4955s;
    -o-animation-delay:0.4955s;
    -ms-animation-delay:0.4955s;
    -webkit-animation-delay:0.4955s;
    -moz-animation-delay:0.4955s;
}

#loading-indicator-part-5{
    left:117px;
    animation-delay:0.572s;
    -o-animation-delay:0.572s;
    -ms-animation-delay:0.572s;
    -webkit-animation-delay:0.572s;
    -moz-animation-delay:0.572s;
}

#loading-indicator-part-6{
    left:146px;
    animation-delay:0.6385s;
    -o-animation-delay:0.6385s;
    -ms-animation-delay:0.6385s;
    -webkit-animation-delay:0.6385s;
    -moz-animation-delay:0.6385s;
}

#loading-indicator-part-7{
    left:175px;
    animation-delay:0.715s;
    -o-animation-delay:0.715s;
    -ms-animation-delay:0.715s;
    -webkit-animation-delay:0.715s;
    -moz-animation-delay:0.715s;
}

#loading-indicator-part-8{
    left:205px;
    animation-delay:0.7815s;
    -o-animation-delay:0.7815s;
    -ms-animation-delay:0.7815s;
    -webkit-animation-delay:0.7815s;
    -moz-animation-delay:0.7815s;
}

@keyframes bounce-loading-indicator{
    0%{
        transform:scale(1);
        background-color: $color-primary;
    }

    100%{
        transform:scale(.3);
        background-color: $color-background;
    }
}

@-o-keyframes bounce-loading-indicator{
    0%{
        -o-transform:scale(1);
        background-color: $color-primary;
    }

    100%{
        -o-transform:scale(.3);
        background-color: $color-background;
    }
}

@-ms-keyframes bounce-loading-indicator{
    0%{
        -ms-transform:scale(1);
        background-color: $color-primary;
    }

    100%{
        -ms-transform:scale(.3);
        background-color: $color-background;
    }
}

@-webkit-keyframes bounce-loading-indicator{
    0%{
        -webkit-transform:scale(1);
        background-color: $color-primary;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color: $color-background;
    }
}

@-moz-keyframes bounce-loading-indicator{
    0%{
        -moz-transform:scale(1);
        background-color: $color-primary;
    }

    100%{
        -moz-transform:scale(.3);
        background-color: $color-background;
    }
}
