.pagination {
  --bs-pagination-focus-box-shadow: none;
}

.pagination-sm {
  --bs-pagination-padding-x: 0.6rem;
  --bs-pagination-padding-y: 0.3rem;
  --bs-pagination-font-size: 0.9rem;
  --bs-pagination-border-radius: 0.3rem;
}
